name: Build Android APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Check Folder Structure
        # This will print the whole folder tree in the logs
        run: find . -maxdepth 3 -not -path '*/.*'

      - name: Grant permissions
        run: chmod +x gradlew

      - name: Build Debug APK
        # If this finishes in 0s, look at the "Check Folder Structure" log
        run: ./gradlew assemble --info --no-daemon

      - name: Find and Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ChessEngine-App
          path: "**/*.apk" # Extreme wildcard to find it anywhere
          
