name: Build Android APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant Full Permissions
        # This -R command unlocks the script AND the internal .jar file
        run: |
          chmod +x gradlew
          chmod -R +x gradle/wrapper/

      - name: Build Debug APK
        # We use :app:assembleDebug to target your app folder
        run: ./gradlew :app:assembleDebug --no-daemon --info

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ChessEngine-APK
          path: "**/*.apk"
          if-no-files-found: error
          
