name: Build Android APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Fix Permissions
        # This fixes the 'Permission denied' for the jar file
        run: |
          chmod +x gradlew
          chmod -R +x gradle/wrapper/

      - name: Build Debug APK
        # Use :app:assembleDebug to target your specific module
        run: ./gradlew :app:assembleDebug --info --stacktrace --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ChessEngine-App-APK
          path: "**/build/outputs/apk/debug/*.apk"
          if-no-files-found: error
